.cards-wrapper{
    display: flex;
    margin: auto;
    padding: 50px 10px;
}
.card{
    margin: 0 .5rem;
    padding: 10px;
    border-radius: 15px;
    width: 30%;
    margin: auto;

}
.card-img-top {
    height: 300px;
}
.gradient3 {
    background-image:linear-gradient(to right,  rgb(30, 30, 30), rgb(186, 180, 180)60%,  rgb(29, 28, 28));
}
@media(max-width:768px){
    .card:not(:first-child){
        display: none;
    }
    .card {
        width:100%;
    }
}