.nav-link{
    margin:20px 30px ;
    color:black;
    font-weight: 600;
}
.nav-link:hover {
border-bottom: 2px solid blue;
color:rgb(32, 32, 131);

}

.navbar-brand{
    margin:20px 200px 20px 100px;
    font-size: 35px;
    font-weight: 700;
    color:black;
}
.gradient1 {
    background-image: linear-gradient(to right, white, rgb(247, 230, 250)20%, white 50%);
}
